.splash-screen blockquote
    border-left 3px solid $mid-blue
    font-style italic
    padding 0
    margin 0
    padding-left 20px

.splash-screen ul
    padding-top 0
    padding-bottom 0
    margin 0

.splash-screen date
    margin-left 40px

.splash-screen__logo
    display block
    margin 0 auto
    width 250px
    margin-top -40px
    margin-bottom 20px
