.design-view
    display flex
    flex-direction column
    align-items stretch

    background-color desaturate(lighten($mid-blue, 65%), 40%)

    > .tab-bar
        margin-top $base-s
        flex-grow 1

.game-view .file-explorer__file-face
    svg, img
        width 200px
        height 100%

.design-view__toolbar
    background-color $white

.design-view__file
    position relative


.design-view__count
    padding-asym--xs()

    position absolute
    left 0px
    bottom 0px

    background-color $grey
    border-radius 2px

    input
        background-color transparent
        width 40px
        font-size 19px
        border-radius 4px
        border 0
        text-shadow 1px 1px 0 $white

.design-view__file-type
    padding-asym--xs()

    position absolute
    right 0px
    top 0px

    background-color $grey
    border-radius 2px

