.file-browser__files
    height 600px
    width 100%

    overflow auto

    img
        width 50px
        height 50px


.file-browser__preview
    margin--l()

    width 150px

    img
        border 1px solid $grey
