@import './units.styl'
@import './groups.styl'
@import '../components/common/type.styl'

// https://coolors.co/0a090c-f0edee-07393c-2c666e-90ddf0

$black = #0a090c
$white = #ffffff
$grey = #f0edee
$dark-blue = #062C3D
$mid-blue = #2A546D
$light-blue = #8FC4EF
