.print__tools
    padding--m()
    text-align center

.print
    position relative

.print__page .element
    position relative
    display inline-block
    border 1px solid darken($grey, 30%)
    break-inside avoid-page

.print__page
    text-align center

.print__iframe
    width 100%
    display block
    border 0
    width 210mm
    height 297mm
    margin 0 auto

body
    background-color $white
