.print__tools
    padding--m()
    text-align center

.print
    position relative

.print__guide
    fill none
    stroke $black
    stroke-width 1px

.print__page
    display block
    margin 0 auto 10px
    border 1px solid darken($grey, 15%)

@media print
    .print__page
        border 0
        margin 0
        width 210mm
        height 297mm

    .design-view__toolbar
        display none

    .tab-bar__tabs
        display none

    .design-view > .tab-bar
        margin-top 0 !important

    .tab-bar__body
        padding 0

    .print__tools
        display none

    #root
        position static
