.button
    padding-asym--m()
    border 1px solid transparent

    background-color $white
    font-size 18px

.button--s
    padding-asym--s()

.button--xs
    padding--xs()

.button--l
    @extends .type--l
    padding-asym--l()

.button:hover
    border 1px solid $grey

.button--blue
    background-color $dark-blue
    color $white

.button--aqua
    background-color $light-blue

.button--hidden
    visibility hidden
