.context-menu__menu
    position absolute
    background-color #fff
    box-shadow 1px 1px 5px rgba(0, 0, 0, 0.3)
    border-radius 3px


.context-menu__menu-item
    border-bottom 1px solid $grey

    > *
        padding-asym--m()

    &:hover
        background-color $grey
