.file-explorer
    user-select none
    height 100%

.file-explorer__items
    display flex
    flex-direction row
    flex-wrap wrap
    align-items flex-start
    height 100%
    overflow auto

.file-explorer--column
    .file-explorer__items
        flex-direction column
        flex-wrap nowrap

    .file-explorer__file-wrapper
        width calc(100% - 40px)

.file-explorer__breadcrumbs
    display flex
    flex-direction row
    align-items stretch
    background-color $mid-blue
    border 1px solid $mid-blue
    overflow auto

.file-explorer__breadcrumb
    padding-asym--m()

    display flex
    align-items center

    border 0
    background-color $light-blue
    color $dark-blue
    display block
    cursor pointer
    box-shadow 1px 1px 5px rgba(0, 0, 0, .5)

    &:last-child
        background-color $dark-blue
        color $white

.file-explorer__arrow
    display flex
    align-items center
    margin 0 $base-s
    color darken($mid-blue, 55%)

.file-explorer__file
    height 100%

.file-explorer__file-wrapper
    padding--s()

    border 1px solid transparent
    margin $base-s

.file-explorer--icon-xs .file-explorer__file-wrapper
    width 70px
    margin $base-xs

.file-explorer__file-wrapper--selected
    background-color $light-blue
    border-color $mid-blue

.file-explorer__file-face
    width 100%
    height 100%
    overflow hidden

    .icon svg
        width 100%

.file-explorer__file-name
    text-align center
    overflow hidden

.file-explorer__toolbar
    border-bottom 1px solid $grey

    .button
        border-bottom 0

.file-explorer--column
    .file-explorer__toolbar .button
        padding-asym--s()

.file-explorer__delete-confirm
    max-width 350px
