.input
    width 100%
    box-sizing border-box

.input--align-center
    text-align center

.input.input--number
    width 60px

textarea.input
    display block
    margin 0
    height 100px

.input.input--checkbox
    width auto

    &.input--l
        width 20px
        height 20px
