.input
    display block
    box-sizing border-box

.input--align-center
    text-align center

.input.input--number
    width 60px

    &.input--grow
        width 100%

textarea.input
    display block
    margin 0
    height 100px

    &.input--grow
        width 100%

.input.input--checkbox
    width auto

    &.input--l
        width 20px
        height 20px

.input__color-picker-preview
    width 10px
    height 10px
    border 1px solid darken($grey, 30%)
