.type
    font-size 16px

.type--align-center
    text-align center
    display block

.type--heading
    font-weight bold

.type--s
    font-size 14px

.type--xs
    font-size 12px

.type--xxs
    font-size 10px

.type--l
    font-size 22px

.type--multiline
    max-width 40em
    display block
    line-height 1.8em
