.type
    font-size 16px

.type--align-center
    text-align center
    display block

.type--heading
    font-weight bold

.type--s
    font-size 14px

.type--xs
    font-size 12px

.type--l
    font-size 22px
