html, body
    background-color $grey
    color $black

a
    color $mid-blue
    text-decoration none

#root
    display flex
    flex-direction column

    position absolute
    left 0
    right 0
    top 0
    bottom 0

    align-items stretch

    > *
        flex-grow 1

*
    box-sizing border-box
